@import "tailwindcss";

:root {
	--main-1: #b12424;
	--main-2: #dcf3de;
	--main-3: #18191c;
	--main-4: #28292d;
	--main-5: #eb3a3a;
}

@theme inline {
	--color-background: var(--main-3);
	--color-foreground: var(--main-2);
	--color-gravel: var(--main-4);
	--color-red: var(--main-1);
	--color-red-texture: var(--main-5);

	--font-jomolhari: var(--font-jomolhari);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-lora: var(--font-lora);
	--font-lato: var(--font-lato);
	--font-poppins: var(--font-poppins);
	--font-open-sans: var(--font-open-sans);
	--font-outfit: var(--font-outfit);
}

body {
	background: var(--main-3);
	color: var(--main-2);
}

button {
	cursor: pointer;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
